@import '../../styles/variables.scss';

.tags_list {
    width: 100%;

    .tags_wrapper {
        position: relative;

        .arrow {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            background-color: $primary-color;
            border: none;
            color: $text-color;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            z-index: 99;
            display: flex;
            justify-content: center;
            align-items: center;

            &.left {
                left: 0px;
                box-shadow: 20px 0px 20px 20px rgb(15, 15, 15, 1), -20px 0px 20px 20px rgb(15, 15, 15, 1);;
            }

            &.right {
                right: 0px;
                box-shadow: -20px 0px 20px 20px rgb(15, 15, 15, 1), 20px 0px 20px 20px rgb(15, 15, 15, 1);
            }

            &:hover {
                background-color: $grey-color;
            }
        }

        .tags_container {
            display: flex;
            flex-direction: row;
            width: max-content;
            transform: translate(0px);
            transition: all 0.3s ease;
            justify-content: flex-start;
            align-items: center;
            gap: 0.6rem;
        }
    }
}