@import '../../styles/variables.scss';

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1rem;
    position: sticky;
    width: 100%;
    z-index: 99;
    top: 0;
    background-color: $primary-color;

    .left_part {
        display: flex;
        flex-direction: row;
        gap: 0.75rem;
        align-items: center;

        .sidebar_toggler {
            border: none;
            padding: 5%;
            border-radius: 50%;
            color: $text-color;
            background: none;

            &:hover {
                background-color: $secondary-color;
                cursor: pointer;
            }
        }

        img {
            width: 8rem;
            object-fit: contain;
        }
    }

    .middle_part {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex: 1;
        justify-content: center;
        align-items: center;

        .microphone {
            background-color: $secondary-color;
            border: none;
            padding: 0.5rem;
            border-radius: 20px;
        }
    }

    .right_part {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.25rem;
        z-index: 99;

        img {
            width: 2rem;
            height: 2rem;
            border-radius: 1rem;
            cursor: pointer;
        }

        .notifications_container {
            padding: 0 10px;
            position: relative;
            background: none;
            border: none;   
            color: $text-color;
            cursor: pointer;

            &:hover {
                background-color: $secondary-color;
                border-radius: 50px;
            }

            .notifications_count {
                position: absolute;
                top: 2px;
                right: 3px;
                background-color: $red-color;
                width: 20px;
                border-radius: 12.5px;
                
                p {
                    font-size: 12px;
                    width: 100%;
                    text-align: center;
                }
            }

            &:hover {
                cursor: pointer;
            }
        }

        .sign_in {
            border: 1px solid blue;
            border-radius: 10px;
            padding: 0.3rem;
            background: none;
            cursor: pointer;

            .sign_in_text {
                color: blue;
            }
        }
    }
}