@import '../../styles/variables.scss';

.tag_card {
    background-color: $secondary-color;
    padding: 0.4rem 0.5rem;
    border-radius: 10px;
    z-index: 2;

    &.active {
        background-color: $text-color;
        color: $secondary-color;
    }

    p {
        font-size: 15px;
        font-weight: 400;
    }
}

